<%# <h1>User#new</h1>

<form accept-charset="UTF-8" action="/user" method="post">
  <label for="fname">Username:</label>
  <input type="text" id="username" name="user[username]" required><br><br>
  <label for="email">Email:</label>
  <input type="email" id="email" name="user[email]" required><br><br>
  <label for="pass">Password (8 characters minimum):</label>
  <input type="password" id="password" name="user[password]" minlength="8" required>
  <br><br>
  <input type="submit" value="Submit">  
  <input type="hidden" name="authenticity_token" value="form_authenticity_token">
</form> %>

<%#
 <%= form_tag("/user", method: "post") do > 
  <%= label_tag(:username, "username:") >
  <%= text_field_tag(:username) >
  <%= label_tag(:email, "email:") >
  <%= email_field_tag(:email) >
  <%= label_tag(:password, "password:") >
  <%= password_field_tag(:password) >
  <%= submit_tag("Submit") >
<% end %> 

<p> 2nd User Form </p>

<%= form_with(url: "/user", method: "post") do %>

  <%= label_tag(:username, "username:") %>
  <%= text_field_tag(:username, 'enter the username here')%>
  <%= label_tag(:email, "email:") %>
  <%= email_field_tag(:email, 'youremail@youremail.com')%>
  <%= label_tag(:password, "password:") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Submit") %>
<% end %>